@model SweetsTreats.Models.Flavor;
@{
  Layout = "_Layout";
}

<h1>FLAVOR DETAILS:</h1>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

  @if(@Model.JoinEntities.Count == 0)
  {
    <p>No treats come in this flavor.</p>
  }
  else
  {
    <h4>Treats with this Flavor:</h4>
    <ul>
      @foreach(var join in Model.JoinEntities)
      {
        @using (Html.BeginForm("DeleteTreat", "Flavors"))
        {
          @Html.Hidden("joinId", @join.FlavorTreatId)
          <li>@join.Treat.Name
          <input type="image" class = "flavortrashicon" img src="https://raw.githubusercontent.com/GarrettHays/images/main/noun-trash-can-2342129.png" style="width:20px;"/></li>
        }
      }
    </ul>
  }


<p>
  @Html.ActionLink("Add a Treat", "AddTreat", null, new {id = Model.FlavorId}, new { @class ="htmlButton"})
  @Html.ActionLink("Back to Flavors", "Index", null, null, new { @class ="htmlButton"})
  @Html.ActionLink("Edit Flavor", "Edit", null, new {id = Model.FlavorId }, new { @class ="htmlButton"})
  @Html.ActionLink("Delete Flavor", "Delete", null, new {id = Model.FlavorId }, new { @class ="htmlButton"})
</p>