@model SweetsTreats.Models.Flavor
@{
  Layout = "_Layout";
}

<h1>EDIT:</h1>

<h4>Edit this Flavor: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    <div class="inputspacing">
    @Html.HiddenFor(model => model.FlavorId)

    @Html.LabelFor(model => model.Name, "Name:" , new { @class="customLabel"})
    @Html.EditorFor(model => model.Name)

    <input class = "saveicon" type="image" img src="https://raw.githubusercontent.com/GarrettHays/images/main/noun-save-5040600.png" style="width:20px;"> <a href="@Url.Action("Delete", "Flavors",  new { id = Model.FlavorId })"><img class = "trashicon" src="https://raw.githubusercontent.com/GarrettHays/images/main/noun-trash-can-2342129.png" style="width:20px;"></a>
    </div>
}

