@using System.Security.Claims;
@using SweetsTreats.Models;

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pierre's Sweets & Treats</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/SweetStyles.css">
  </head>
  <body>
     <div id="mainpage">
      <img src="https://raw.githubusercontent.com/GarrettHays/images/main/shop.jpg" alt="shop logo" class="logo"> 
      <div class ="blurbcontain"
        <h2 id="blurb">Welcome to Pierre's Sweets & Treats.</h2> 
        <h2 id="blurb">Please come inside and see what we have to offer!</h2>  
     </div>
      @if (User.Identity.IsAuthenticated)
      {  
          <p>
              @Html.ActionLink("Your Treats", "Index", "Treats", null, new { @class="htmlButtonMain"})
              @Html.ActionLink("Your Flavors", "Index", "Flavors", null, new { @class="htmlButtonMain"})
              @Html.ActionLink("Account Info", "Index", "Account", null, new { @class="htmlButtonMain"})
          </p>
      }
      else
      {
        <p>
            @Html.ActionLink("See all Treats", "Index", "Treats", null, new { @class="htmlButtonMain"})
            @Html.ActionLink("See all Flavors", "Index", "Flavors", null, new { @class="htmlButtonMain"})
            @Html.ActionLink("Create an account", "Index", "Account", null, new { @class="htmlButtonMain"})
        </p> 
      } 
     </div>
  </body>
</html>