@using SweetsTreats.ViewModels
@model LoginViewModel

@{
  Layout = "_Layout";
}

<div class = "inputspacing">
  @using (Html.BeginForm())
  {
      @Html.LabelFor(m => m.Email, "Email: ", new { @class="customLabel"})
      @Html.TextBoxFor(m => m.Email)<br>

      @Html.LabelFor(m => m.Password, "Password: ", new { @class="customLabel"})
      @Html.PasswordFor(m => m.Password)<br>

      <br><input type="submit" value="Log in" class="htmlButton" /><br>
  }
  <p>
  @Html.ActionLink("Register", "Register", null, null, new { @class="htmlButton"})
  @Html.ActionLink("Home", "Index", null, null, new { @class="htmlButton"})
  </p>
</div>
