@model SweetsTreats.Models.Treat

@{
  Layout = "_Layout";
}

<h1>ADD FLAVOR:</h1>

<h4>Add a flavor that the @Html.DisplayFor(model => model.Name) treat comes in:</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    @Html.Label("Select Flavor", "Select Flavor:")
    @Html.DropDownList("FlavorId")

    <input class = "saveicon" type="image" img src="https://raw.githubusercontent.com/GarrettHays/images/main/noun-save-5040600.png" style="width:20px;">
}

<p>@Html.ActionLink("Back to Treats", "Index", null, null, new { @class="htmlButton"})</p>

